@import url('https://fonts.googleapis.com/css?family=Signika:300,400,600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Signika', sans-serif;
  height: 100%;
  background-image: radial-gradient(circle, #d3d3d3, #d9d9d9, #dfdfdf, #e6e6e6, #ececec, #efefef, #f1f1f1, #f4f4f4, #f4f4f4, #f4f4f4, #f4f4f4, #f4f4f4);
}

main {
  position: relative;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#container-input{
  /* border-radius: 0 0 20px 20px; */
  background-color: #ffffff;
  width: 60%;
  height: 300px;
  z-index: 2;
  box-shadow: 20px 20px rgba(0,0,0,.15);
}

#input {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#input h1 {
  width: 100%;
  padding-left: 70px;
  padding-bottom: 30px;
  color: #333333;
  font-size: 48px;
}

#input-user {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#buttons {
  width: 29%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

input, #age {
  width: 32%;
  height: 72px;
  padding-top: 2px;
  display: flex;
  background-color: #F5F5F5;
  text-indent: 12px;
  color: #2B2B2C;
  font-size: 1.25rem;
  border: 0;
  border-bottom: 2px solid #2B2B2C;
  padding-left: 40px;
}

input:focus {
  outline: 1px solid #A7BCD6;
  border-bottom: 2px solid #00866E;
}

button {
  color: #00685E;
  background-color: #CCEAE4;
  padding: 0 18px 0 18px;
  height: 48px;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  padding-left: 22px;
  text-align: left;
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: 400;
}


.container-ticket {
  top: 199px;
  position: absolute;
  background-color: #ffffff;
  width: 60%;
  height: 0;
  box-shadow: 20px 20px rgba(0,0,0,.15);
  z-index: 1;
  transition: .5s cubic-bezier(.17,.67,.83,.67)
}

.ticket-active {
  transition: .5s cubic-bezier(.17,.67,.83,.67);
  top: 95px;
  height: 200px;
  z-index: 1;
}


#ticket {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

#ticket h1 {
  padding-top: 15px;
}

#ticket h1, h2 {
  color: #333333;
}


#box-name {
  flex-direction: column;
  text-align: center;
}

#box-costo {
  flex-direction: column;
  text-align: center;
}